body {
  margin: 0;
  background-color: rgba(254, 34, 34, 0.2);
  padding: 10%;
}

img {
  display: block;
  margin:0 auto;
  border: solid 5px rgba(254, 34, 34, 0.5);
}

header {
  text-align: center;
}

section:first-of-type h1,
section:first-of-type p {
  display: inline-block;
}

section:first-of-type p {
  margin-left: 20px;
}
