/******************************************************
GENERAL
******************************************************/
/*COLORS
Primary Dark = #1B2355
Pimary Light = #A0CCE3
Secondary Dark = #F66464
Secondary Light = #E79294
Tertiary Dark = #8A859B
Tertiary Mid = #BAC0BA
Tertiary Light = #E8ECEF

FONTS
font-family: 'Contrail One', cursive;
font-family: 'Work Sans', sans-serif;
*/

body {
  font-family: 'Work Sans', sans-serif;
}
h1 {
  font-family: 'Contrail One', cursive;
}
p {
  text-align: justify;
}
i {
  float: right;
  margin-right: 10%;
}

a.to-top, a.to-top:visited {
  color: #F66464;
}

/******************************************************
NAVIGATION
******************************************************/
nav {
  background-color: #1B2355;
}

nav h1, nav a, nav a:visited {
  color: #E8ECEF;
}

nav a {
  text-decoration: none;
}

nav h1 {
  display: inline-block;
  margin: 20px;
  font-size: 30px;
}

nav ul {
  background-color: #1B2355;
  padding: 0;
  text-align: center;
  font-size: 0;
}

nav ul li {
  display: inline-block;
  width: 19vw;
  font-size: 1rem;
  margin: 5px auto;
  border-right: 1px solid #E79294;
}

nav ul li:first-of-type {
  margin-left: 2.5vw;
}

nav ul li:last-of-type {
  border-right: 0;
}

article {
  display: block;
}

/******************************************************
HOME
******************************************************/
#home {
  /*border: 1px solid red;*/
  height: 90vh;
  text-align: center;
  text-align: center;
  background: url(https://media.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif);
  background-size: cover;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

#home header {
  position: relative;
  top: 30%;
  background-color: rgba(160, 204, 227, 0.5);
  color: #E8ECEF;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b2355+0,1b2355+100&0+0,0.7+16,1+52,0.7+85,0+100 */
  background: -moz-linear-gradient(left, rgba(27,35,85,0) 0%, rgba(27,35,85,0.7) 16%, rgba(27,35,85,1) 52%, rgba(27,35,85,0.7) 85%, rgba(27,35,85,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(27,35,85,0) 0%,rgba(27,35,85,0.7) 16%,rgba(27,35,85,1) 52%,rgba(27,35,85,0.7) 85%,rgba(27,35,85,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(27,35,85,0) 0%,rgba(27,35,85,0.7) 16%,rgba(27,35,85,1) 52%,rgba(27,35,85,0.7) 85%,rgba(27,35,85,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001b2355', endColorstr='#001b2355',GradientType=1 ); /* IE6-9 */
  padding: 10px 0;
}

/******************************************************
MAIN (#about-me)
******************************************************/
#about-me {
  padding-top: 10px;  /* as opposed to margin-top which doesn't work*/
  text-align: center;
}
#about-me div {
  margin: 0 10%;
}

/******************************************************
PROJECTS
******************************************************/
#projects {
  padding-top: 10px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #000;
}
#projects header {
  padding: 0 10%;
}
#projects p {
  text-align: center;
}

div.portfolio-img {
  height: 20vh;
  background-size: cover;
  background-position: center 15%;
}

section#projects > div {
  padding: 10px 0 10px 0;
}

section#projects > div:nth-child(odd) {
  background-color: #E8ECEF
}

section#projects > div:nth-child(even) {
  background-color: #BAC0BA
}

div.iron-man {
  background-image: url(./images/IronMan.jpg);
}

.phoenix {
  background-image: url(./images/Phoenix.jpg);
}

.storm {
  background-image: url(./images/Storm.jpg);
}

.gambit {
  background-image: url(./images/Gambit.jpg);
}

/******************************************************
RESUME
******************************************************/
#resume {
  padding-top: 10px;
  padding-right: 10vw;
}

#resume h1 {
  text-align: center;
}

#resume header {
  padding: 0 10%;
  text-align: center;
}
*:before, *:after { content: ''; }

.accessory {
  height: 6px;
  background-image: radial-gradient(
    closest-side,
    hsla(0, 0%, 50%, 1.0),
    hsla(0, 0%, 50%, 0) 100%);
  position: relative;
}
.accessory:after {
  position: absolute;
  top:  50%;
  left: 50%;
  display:block;
  background-color: hsl(0, 0%, 75%);
  height: 12px;
  width:  12px;
  transform: rotate(45deg);
  margin-top:  -10px;
  margin-left: -10px;
  border-radius: 4px 0;
  border: 4px solid hsla(0, 0%, 100%, 0.35);
  background-clip: padding-box;
  box-shadow: -10px 10px 0 hsla(0, 0%, 100%, 0.15), 10px -10px 0 hsla(0, 0%, 100%, 0.15);
}

/******************************************************
CONTACT AND MEDIA
******************************************************/
#contact {
  background-color: #A0CCE3;
  padding: 15px 5px;
}

#contact header h2 {
  text-align: center;
}

#contact form {
  width: 80%;
  margin-left: 10%;
}

#contact input, #contact textarea {
  width: 95%;
  border-radius: 5px;
  border-color: #1B2355;
  border-width: 1px;
}

#contact input:focus, #contact textarea:focus {
  outline: 3px solid rgba(27, 35, 85, 0.5);
  -moz-outline-radius: 25px;
}

#contact label, #contact input {
  display: block;
}

#contact input[type="submit"] {
  background-color: #F66464;
  border-radius: 5px;
  border-style: solid;
  border-color: #F66464;
}

#contact input[type="submit"]:active {
  background-color: #c33f3f;
  border-color: #E79294
}

aside#social {
  height: 50px;
  text-align: center;
  margin-top: 15px;
}

aside#social i {
  float: none;
  margin-left: 15px;
}

aside#social a {
  text-decoration: none;
}


/******************************************************/
                 /*MEDIA QUERIES*/
/******************************************************
NAVIGATION
******************************************************/
@media only screen and (min-width: 769px) {
  body {
    background-color: red;
  }
}

/******************************************************
MAIN
******************************************************/
/******************************************************
PROJECTS
******************************************************/
/******************************************************
RESUME
******************************************************/
/******************************************************
CONTACT AND MEDIA
******************************************************/
